* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FAF8ED;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 24px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-n-nav {
    display: flex;
    align-items: center;
    gap: 72px;
}

.nav-list {
    display: flex;
    gap: 36px;
    list-style: none;

}

.nav-list li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    
    letter-spacing: 0.01em;
    
    color: #2E476B;
}

li {
    text-decoration: none;
}

.book-now {
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-now-button {
    
    border: 1.4px solid #F66F4D;
    border-radius: 27px;
    color: #F66F4D;
    background-color: #FAF8ED;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;   
    text-align: center;
    padding: 19px 36px;
}

main {
    margin-top: 113px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main-h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
}

.main-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #5B5F62;
}
.places {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 12px;
}

.places-button {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #FAF8ED;
    border: 1px solid #3D3D3D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;   
    text-align: center;
    
    color: #2D3134;
}

.places-button:hover {
    background-color: #2D3134;
    color:#FAF8ED;
}

.grid-pictures {
    margin-top: 51px;
    display: grid;
    grid-template-columns: 270px 370px 170px 270px;;
    grid-template-rows: 2fr;
    column-gap: 30px;
    row-gap: 13px;
    
}

.grid-pictures img {
    object-fit: cover;
}

.grid-pictures div {
    position: relative;
}
.grid-tall {
    grid-row: span 2 / auto;
}

.grid-wide {
    grid-column: span 2 / auto;
}

.img2 {
    margin-top: 10px;
}
.rating {
    position: absolute;
    background: #FFFFFF;
    border-radius: 12px;
    left: 24px;
    top: 24px;
    padding: 5px 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

.country {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    left: 24px;
    bottom: 48px;
}

.city {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    left: 24px;
    bottom: 24px;
}

footer {
    display: flex;
    justify-content: space-between;

    margin-top: 73px;
}

.footer-guide {
    display: flex;
    gap: 114px;
}

.footer-guide ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.section-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8px;    
    color: #2D3134;
}

.footer-guide ul li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;   
    color: #676A6C;
}

.footer-left-part p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 22px;
    color: #5B5F62;
    width: 141px;
}